body{
  margin: 0%;
  padding: 0%;
  width: 100%;
  background-color: white;
}
.header-left{
    background-color:white;
    color: black;
    text-align: center;
    /* border: 50px solid burlywood; */
    border-top: 30px solid  #EB3135;
 border-left: 0px solid transparent;
 border-right: 30px solid transparent; 
}
.header-text{
 text-decoration: none;  
 color: black;
 margin-top: 10px; 
}
.header-right{
    background-color:white;
    color: white;
    text-align: center;
    border-top: 30px solid rgb(70, 67, 67);
    border-left: 30px solid transparent;
    border-right: 0px solid transparent; 
}
.header-bottom-left{
  background-color:white;
  color: white;
  text-align: center;
  border-bottom: 30px solid #EB3135;
  border-left: 0px solid transparent;
  border-right: 30px solid transparent; 
  position: relative;
}
.header-bottom-right{
  background-color:white;
  color: white;
  text-align: center;
  border-bottom: 30px solid rgb(70, 67, 67);
  border-left: 30px solid transparent;
  border-right: 0px solid transparent; 
  position: relative;
}
a:hover{
    cursor: pointer;
}
.menu ul {
    list-style-type: none;
    text-align: center;
    
  }
  .menu li {
    color: #333;
    display: inline-block;
    width: 30%;
    height: 40px;
    line-height: 40px;
    position: relative;
  }
.menu a {
    text-decoration: none;
    color: #333 ;
    display: block;
  }
  .menu a:hover {
    background: #F1F1F1;
    color: #333;
  }
  
  /*==Dropdown Menu==*/
  .sub-menu {
    display: none;
    position: absolute;
 
  }
  .menu li:hover .sub-menu {
    display: block;
  }
  .sub-menu li{
      width: 200px;
      background-color:rgb(238, 236, 234);
     
  }

/*  */
@media (max-width: 1000px){
.header-left{
  display: none;
  clear: both;
  background-image: url(/assets/img/logo/logo.png);

}
.header-right{
  display: none;
  clear: both;
}
.header-bottom-left{
  display: none;
  clear: both;
  
}
.header-bottom-right{
  display: none;
  clear: both;
}
.search{
  float: left;
  clear: both;
}
.button-search
{
  float: left;
}
}
.menu-spacer {
  flex: 1 1 auto;
}
@media (min-width:960px)
{
  .logo{
    display:none;
    clear: both;
  }
}
